# ================= CONFIGURATION =================
# Set this to where you want the videos to permanently live
OUTPUT_DIR=~/Documents/Xiao

# The framerate you want the reconstruct videos to be at
FPS=10

